*{ /*o asterisco serve para identificar que é todo o corpo do site ou pode substituir por "body"*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background: url(../img/300.jpg);
    opacity: 0.6;
    height: auto;
    padding-top: 20rem;
    text-align: center; 
}
.conteudo-cabecalho {
    color: rgb(12, 18, 97);
    width: 100%;
    margin: 0 auto;
    position: absolute; 
    top: 15vh;
    left: 10vh;
    transition: all 2s; 
}

.conteudo-cabecalho h1 {
    padding: 10px 0;
    font-size: 5rem;
}

.conteudo-cabecalho a {
    text-decoration: none;
    color: #242A2A;
    font-size: 1.5rem;
    border-radius: 3rem;
    text-transform: uppercase;
}

/*Main*/

.sobre {
    background: linear-gradient(#c2d2cf, #178396, #558891) ;
    padding: 50px 0 50px;
}

.sobre h2 {
    font-size: 2rem;
    color: #504d4d;
    text-align: center;
    margin-bottom: 50px;
}

.sobre-descricao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    line-height: 1.5;
}

.sobre-descricao p {
    width: 35%;
}

strong, h3  {
    font-weight: bold;
}

.minhas-habilidades {
    display: inline-block;
    line-height: 1.5;
}

.itens::before {
    content: "🟊";
}


/*Rodapé*/

footer {
    background-color: #558891;
    padding: 40px;
    margin: 0 auto;
}

.conteudo-rodape {
    position: relative;
    margin: 0 auto;
}

.minha-rede {
    font-size: 25px;
    padding-bottom: 25px;
    color: rgb(66, 69, 73);
}

.img-rede {
   max-width: 30px;
   width: 30px;
   height: 30px;
   object-fit:contain;
   transition: all 2s;
   margin-right: 3.5em;
}

.img-rede:hover {
   transform: scale(1.3);
}

.trabalhe-comigo {
    font-size: 30px;
    color: lavender;
    position: absolute;
    right: 0;
    padding: 20px 10px;
    border: 2px solid #1170c9;
    border-radius: 10px;
    top: 15%;
    text-decoration: none;
}

.trabalhe-comigo:hover {
    background-color:honeydew;
    color: rgb(0, 89, 130);
    cursor:pointer;

    
}